<md-sidenav-layout fullscreen>
  <md-sidenav #leftSideNav [opened]="false">
    Start Sidenav.
    <button md-button (click)="leftSideNav.close()">Close</button>
  </md-sidenav>

  <md-toolbar color="primary">
    <button md-icon-button (click)="leftSideNav.open()">
      <md-icon>menu</md-icon>
    </button>

    <button md-button routerLink="/">Musicollector</button>

    <button md-fab routerLink="/add-artist">
      <md-icon>add</md-icon>
    </button>
  </md-toolbar>

  <router-outlet></router-outlet>
</md-sidenav-layout>
